<?xml version="1.0" encoding="UTF-8"?>  
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">  
    <servlet>  
        <servlet-name>coreServlet</servlet-name>  
        <servlet-class>
            org.liufeng.course.servlet.CoreServlet
        </servlet-class>  
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>
            org.liufeng.course.servlet.PayServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>
            org.liufeng.course.servlet.ShowServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayTotalServlet</servlet-name>
        <servlet-class>
            org.liufeng.course.servlet.PayTotalServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JumpServlet</servlet-name>
        <servlet-class>
            org.liufeng.course.servlet.JumpServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetopenidServlet</servlet-name>
        <servlet-class>
            org.liufeng.course.servlet.GetopenidServlet
        </servlet-class>
    </servlet>
    <!-- url-pattern中配置的/coreServlet用于指定该Servlet的访问路径 -->  
    <servlet-mapping>  
        <servlet-name>coreServlet</servlet-name>  
        <url-pattern>/coreServlet</url-pattern>  
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/payServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/showServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayTotalServlet</servlet-name>
        <url-pattern>/payTotalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JumpServlet</servlet-name>
        <url-pattern>/jumpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetopenidServlet</servlet-name>
        <url-pattern>/openidServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>  
        <welcome-file>index.jsp</welcome-file>  
    </welcome-file-list>  
</web-app>
